## 1. Loading the News Articles

Let's start by examining the English and Arabic news articles.

English News Articles (news-articles-eng.csv)

In [2]:
import pandas as pd

# Load the English news articles
df_eng = pd.read_csv('../data/news-articles-eng.csv')

# Display the first 5 rows
print("English News Articles:")
print(df_eng.head())

# Get some basic info about the dataframe
print("\nInfo:")
df_eng.info()

English News Articles:
                 uri lang  isDuplicate        date      time  \
0         8216521939  eng        False  2024-07-09  08:15:07
1         8235923227  eng        False  2024-07-21  08:16:52
2  2024-07-412131568  eng        False  2024-07-05  08:47:41
3         8191876537  eng        False  2024-06-23  21:11:10
4         8210853386  eng        False  2024-07-05  08:54:07

               dateTime           dateTimePub dataType       sim  \
0  2024-07-09T08:15:07Z  2024-07-09T08:14:39Z     news  0.631373
1  2024-07-21T08:16:52Z  2024-07-21T08:16:12Z     news  0.000000
2  2024-07-05T08:47:41Z  2024-07-05T08:36:20Z     news  0.788235
3  2024-06-23T21:11:10Z  2024-06-23T21:09:27Z     news  0.635294
4  2024-07-05T08:54:07Z  2024-07-05T08:53:35Z     news  0.780392

                                                 url  \
0  https://english.enabbaladi.net/archives/2024/0...
1  https://www.jewishpress.com/indepth/analysis/j...
2  https://eu.poconorecord.com/story/opinion/2024...
3  https://syrianobserver.com/foreign-actors/syri...
4  https://www.yahoo.com/news/iran-hamas-targetin...

                                               title  \
0  Israeli escalation on southern Lebanon : Al-As...
1  Israel Should NOT be Stuck with a "Fair Fight"...
2  Iran and Hamas are targeting Jordan, hoping to...
3  Syria Today - Conflict in Lebanon Displaces Sy...
4  Iran and Hamas are targeting Jordan, hoping to...

                                                body  \
0  Hussam al-Mahmoud | Yamen Moghrabi | Hassan Ib...
1  t's an excellent axiom to never put your citiz...
2  Iran and Hamas pose an escalating threat to th...
3  The simmering conflict between Israel and Hezb...
4  Iran and Hamas pose an escalating threat to th...

                                              source  \
0  {'uri': 'english.enabbaladi.net', 'dataType': ...
1  {'uri': 'jewishpress.com', 'dataType': 'news',...
2  {'uri': 'eu.poconorecord.com', 'dataType': 'ne...
3  {'uri': 'syrianobserver.com', 'dataType': 'new...
4  {'uri': 'yahoo.com', 'dataType': 'news', 'titl...

                                             authors  \
0  [{'uri': 'enab10_ula@english.enabbaladi.net', ...
1  [{'uri': 'j_e_dyer@jewishpress.com', 'name': '...
2                                                 []
3                                                 []
4                                                 []

                                               image     eventUri  sentiment  \
0  https://cdn.enabbaladi.net/english/wp-content/...  eng-9713305  -0.505882
1  https://www.jewishpress.com/wp-content/uploads...          NaN   0.003922
2  https://www.gannett-cdn.com/authoring/authorin...  eng-9716644  -0.003922
3  https://syrianobserver.com/wp-content/uploads/...  eng-9669018  -0.545098
4  https://s.yimg.com/ny/api/res/1.2/DmwzdEvMx2_4...  eng-9716644  -0.129412

   wgt  relevance userHasPermissions
0  503        503                NaN
1  477        477                NaN
2  423        423                NaN
3  423        423                NaN
4  418        418                NaN

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86660 entries, 0 to 86659
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   uri                 86660 non-null  object
 1   lang                86660 non-null  object
 2   isDuplicate         86660 non-null  bool
 3   date                86660 non-null  object
 4   time                86660 non-null  object
 5   dateTime            86660 non-null  object
 6   dateTimePub         86660 non-null  object
 7   dataType            86660 non-null  object
 8   sim                 86660 non-null  float64
 9   url                 86660 non-null  object
 10  title               86657 non-null  object
 11  body                86660 non-null  object
 12  source              86660 non-null  object
 13  authors             86660 non-null  object
 14  image               81476 non-null  object
 15  eventUri            52300 non-null  object
 16  sentiment           86614 non-null  float64
 17  wgt                 86660 non-null  int64
 18  relevance           86660 non-null  int64
 19  userHasPermissions  24 non-null     object
dtypes: bool(1), float64(2), int64(2), object(15)
memory usage: 12.6+ MB

In [3]:
df_eng

,uri,lang,isDuplicate,date,time,dateTime,dateTimePub,dataType,sim,url,title,body,source,authors,image,eventUri,sentiment,wgt,relevance,userHasPermissions
0,8216521939,eng,False,2024-07-09,08:15:07,2024-07-09T08:15:07Z,2024-07-09T08:14:39Z,news,0.631373,https://english.enabbaladi.net/archives/2024/0...,Israeli escalation on southern Lebanon : Al-As...,Hussam al-Mahmoud | Yamen Moghrabi | Hassan Ib...,"{'uri': 'english.enabbaladi.net', 'dataType': ...","[{'uri': 'enab10_ula@english.enabbaladi.net', ...",https://cdn.enabbaladi.net/english/wp-content/...,eng-9713305,-0.505882,503,503,NaN
1,8235923227,eng,False,2024-07-21,08:16:52,2024-07-21T08:16:52Z,2024-07-21T08:16:12Z,news,0.000000,https://www.jewishpress.com/indepth/analysis/j...,"Israel Should NOT be Stuck with a ""Fair Fight""...",t's an excellent axiom to never put your citiz...,"{'uri': 'jewishpress.com', 'dataType': 'news',...","[{'uri': 'j_e_dyer@jewishpress.com', 'name': '...",https://www.jewishpress.com/wp-content/uploads...,NaN,0.003922,477,477,NaN
2,2024-07-412131568,eng,False,2024-07-05,08:47:41,2024-07-05T08:47:41Z,2024-07-05T08:36:20Z,news,0.788235,https://eu.poconorecord.com/story/opinion/2024...,"Iran and Hamas are targeting Jordan, hoping to...",Iran and Hamas pose an escalating threat to th...,"{'uri': 'eu.poconorecord.com', 'dataType': 'ne...",[],https://www.gannett-cdn.com/authoring/authorin...,eng-9716644,-0.003922,423,423,NaN
3,8191876537,eng,False,2024-06-23,21:11:10,2024-06-23T21:11:10Z,2024-06-23T21:09:27Z,news,0.635294,https://syrianobserver.com/foreign-actors/syri...,Syria Today - Conflict in Lebanon Displaces Sy...,The simmering conflict between Israel and Hezb...,"{'uri': 'syrianobserver.com', 'dataType': 'new...",[],https://syrianobserver.com/wp-content/uploads/...,eng-9669018,-0.545098,423,423,NaN
4,8210853386,eng,False,2024-07-05,08:54:07,2024-07-05T08:54:07Z,2024-07-05T08:53:35Z,news,0.780392,https://www.yahoo.com/news/iran-hamas-targetin...,"Iran and Hamas are targeting Jordan, hoping to...",Iran and Hamas pose an escalating threat to th...,"{'uri': 'yahoo.com', 'dataType': 'news', 'titl...",[],https://s.yimg.com/ny/api/res/1.2/DmwzdEvMx2_4...,eng-9716644,-0.129412,418,418,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86655,8190777351,eng,False,2024-06-23,00:14:10,2024-06-23T00:14:10Z,2024-06-23T00:08:51Z,news,0.945098,https://www.dailymail.co.uk/wires/ap/article-1...,"Drew Thorpe gets first major league win, combi...","DETROIT (AP) - WHITE SOX 5, TIGERS 1\n\nDETROI...","{'uri': 'dailymail.co.uk', 'dataType': 'news',...",[],https://i.dailymail.co.uk/1s/2024/06/23/00/wir...,eng-9674593,-0.098039,1,1,NaN
86656,8190777332,eng,False,2024-06-23,00:10:00,2024-06-23T00:10:00Z,2024-06-23T00:08:50Z,news,0.525490,https://pix11.com/news/local-news/new-yorks-14...,New York's 14th and 16th Congressional Distric...,NEW YORK (PIX11) -- We are just days away from...,"{'uri': 'pix11.com', 'dataType': 'news', 'titl...","[{'uri': 'kiran_dhillon@pix11.com', 'name': 'K...",https://pix11.com/wp-content/uploads/sites/25/...,eng-9672293,0.035294,1,1,NaN
86657,2024-06-398429798,eng,False,2024-06-23,00:09:41,2024-06-23T00:09:41Z,2024-06-23T00:05:20Z,news,0.705882,https://www.thestar.com/sports/baseball/ram-re...,"Ramírez, Kwan homer as Guardians beat slumping...",CLEVELAND (AP) -- José Ramírez and Bo Naylor h...,"{'uri': 'thestar.com', 'dataType': 'news', 'ti...",[],https://bloximages.chicago2.vip.townnews.com/t...,eng-9672706,0.066667,1,1,NaN
86658,8190776646,eng,False,2024-06-23,00:08:37,2024-06-23T00:08:37Z,2024-06-23T00:07:31Z,news,0.721569,https://www.si.com/nba/bulls/news/lonzo-ball-s...,Lonzo Ball Slams Team USA for Caitlin Clark De...,"Oct 2, 2023; Chicago, IL, USA; Chicago Bulls g...","{'uri': 'si.com', 'dataType': 'news', 'title':...",[],https://images2.minutemediacdn.com/image/uploa...,eng-9684824,0.003922,1,1,NaN
86659,8190773147,eng,False,2024-06-23,00:03:50,2024-06-23T00:03:50Z,2024-06-23T00:01:55Z,news,0.686275,https://www.reformer.com/ap/sports/ram-rez-kwa...,"Ramírez, Kwan homer as AL Central-leading Guar...",CLEVELAND (AP) -- José Ramírez and Bo Naylor h...,"{'uri': 'reformer.com', 'dataType': 'news', 't...","[{'uri': 'tom_withers@reformer.com', 'name': '...",https://bloximages.newyork1.vip.townnews.com/r...,eng-9672706,0.184314,1,1,NaN

Arabic News Articles (news-articles-ara.csv)

In [4]:
# Load the Arabic news articles
df_ara = pd.read_csv('../data/news-articles-ara.csv')

# Display the first 5 rows
print("\nArabic News Articles:")
print(df_ara.head())

# Get some basic info about the dataframe
print("\nInfo:")
df_ara.info()

Arabic News Articles:
          uri lang  isDuplicate        date      time              dateTime  \
0  8221345226  ara        False  2024-07-12  00:55:33  2024-07-12T00:55:33Z
1  8202585568  ara        False  2024-06-30  10:00:50  2024-06-30T10:00:50Z
2  8203455578  ara        False  2024-07-01  02:22:38  2024-07-01T02:22:38Z
3  8201361178  ara        False  2024-06-29  10:09:34  2024-06-29T10:09:34Z
4  8201914853  ara        False  2024-06-29  19:34:06  2024-06-29T19:34:06Z

            dateTimePub dataType       sim  \
0  2024-07-12T00:55:00Z     news  0.615686
1  2024-06-30T10:00:18Z     news  0.000000
2  2024-07-01T02:22:23Z     news  0.000000
3  2024-06-29T10:09:15Z     news  0.000000
4  2024-06-29T19:33:54Z     news  0.000000

                                                 url  \
0                https://www.almanar.com.lb/12211949
1  https://www.enabbaladi.net/706124/انفجار-جنوبي...
2                https://www.almanar.com.lb/12164385
3  https://www.shorouknews.com/news/view.aspx?cda...
4             https://www.maghress.com/lakome/348309

                                               title  \
0                           الصحافة اليوم: 12-7-2024
1          انفجار جنوبي لبنان.. الأسد حاضر دون أدوات
2                            الصحافة اليوم: 1-7-2024
3  الكاتب الفلسطيني ربعي المدهون في حوار مطوّل: ا...
4  "طوفان الأقصى": الحاجة إلى الحرب.. مرحلة ما بع...

                                                body  \
0  ‫‫ محمد الهندي: من يرى فيديوهات المقاومين يجب ...
1  حسام المحمود | يامن المغربي | حسن إبراهيم\n\nأ...
2  ‫‫الحزب الديمقراطي اللبناني في ذكرى تأسيسه الـ...
3  الفارق بين حرب غزة والهولوكوست هو أن الحرب تُب...
4  "إذا أراد الله أحداثا عظيمة هيأ أسبابها، تخطئ ...

                                              source authors  \
0  {'uri': 'almanar.com.lb', 'dataType': 'news', ...      []
1  {'uri': 'enabbaladi.net', 'dataType': 'news', ...      []
2  {'uri': 'almanar.com.lb', 'dataType': 'news', ...      []
3  {'uri': 'shorouknews.com', 'dataType': 'news',...      []
4  {'uri': 'maghress.com', 'dataType': 'news', 't...      []

                                               image     eventUri  sentiment  \
0  https://www.almanar.com.lb/framework/includes/...  ara-1673095        NaN
1  https://cdn.enabbaladi.net/arabic/wp-content/u...          NaN        NaN
2  https://www.almanar.com.lb/framework/includes/...          NaN        NaN
3  https://www.shorouknews.com/uploadedimages/Gal...          NaN        NaN
4         https://images2.maghress.com/lakome/lakome          NaN        NaN

   wgt  relevance
0  533        533
1  516        516
2  458        458
3  455        455
4  452        452

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85511 entries, 0 to 85510
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uri          85511 non-null  object
 1   lang         85511 non-null  object
 2   isDuplicate  85511 non-null  bool
 3   date         85511 non-null  object
 4   time         85511 non-null  object
 5   dateTime     85511 non-null  object
 6   dateTimePub  85511 non-null  object
 7   dataType     85511 non-null  object
 8   sim          85511 non-null  float64
 9   url          85511 non-null  object
 10  title        85474 non-null  object
 11  body         85511 non-null  object
 12  source       85511 non-null  object
 13  authors      85511 non-null  object
 14  image        80132 non-null  object
 15  eventUri     23771 non-null  object
 16  sentiment    0 non-null      float64
 17  wgt          85511 non-null  int64
 18  relevance    85511 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(14)
memory usage: 11.8+ MB

In [5]:
df_ara

,uri,lang,isDuplicate,date,time,dateTime,dateTimePub,dataType,sim,url,title,body,source,authors,image,eventUri,sentiment,wgt,relevance
0,8221345226,ara,False,2024-07-12,00:55:33,2024-07-12T00:55:33Z,2024-07-12T00:55:00Z,news,0.615686,https://www.almanar.com.lb/12211949,الصحافة اليوم: 12-7-2024,‫‫ محمد الهندي: من يرى فيديوهات المقاومين يجب ...,"{'uri': 'almanar.com.lb', 'dataType': 'news', ...",[],https://www.almanar.com.lb/framework/includes/...,ara-1673095,NaN,533,533
1,8202585568,ara,False,2024-06-30,10:00:50,2024-06-30T10:00:50Z,2024-06-30T10:00:18Z,news,0.000000,https://www.enabbaladi.net/706124/انفجار-جنوبي...,انفجار جنوبي لبنان.. الأسد حاضر دون أدوات,حسام المحمود | يامن المغربي | حسن إبراهيم\n\nأ...,"{'uri': 'enabbaladi.net', 'dataType': 'news', ...",[],https://cdn.enabbaladi.net/arabic/wp-content/u...,NaN,NaN,516,516
2,8203455578,ara,False,2024-07-01,02:22:38,2024-07-01T02:22:38Z,2024-07-01T02:22:23Z,news,0.000000,https://www.almanar.com.lb/12164385,الصحافة اليوم: 1-7-2024,‫‫الحزب الديمقراطي اللبناني في ذكرى تأسيسه الـ...,"{'uri': 'almanar.com.lb', 'dataType': 'news', ...",[],https://www.almanar.com.lb/framework/includes/...,NaN,NaN,458,458
3,8201361178,ara,False,2024-06-29,10:09:34,2024-06-29T10:09:34Z,2024-06-29T10:09:15Z,news,0.000000,https://www.shorouknews.com/news/view.aspx?cda...,الكاتب الفلسطيني ربعي المدهون في حوار مطوّل: ا...,الفارق بين حرب غزة والهولوكوست هو أن الحرب تُب...,"{'uri': 'shorouknews.com', 'dataType': 'news',...",[],https://www.shorouknews.com/uploadedimages/Gal...,NaN,NaN,455,455
4,8201914853,ara,False,2024-06-29,19:34:06,2024-06-29T19:34:06Z,2024-06-29T19:33:54Z,news,0.000000,https://www.maghress.com/lakome/348309,"""طوفان الأقصى"": الحاجة إلى الحرب.. مرحلة ما بع...","""إذا أراد الله أحداثا عظيمة هيأ أسبابها، تخطئ ...","{'uri': 'maghress.com', 'dataType': 'news', 't...",[],https://images2.maghress.com/lakome/lakome,NaN,NaN,452,452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85506,8190800198,ara,False,2024-06-23,00:50:53,2024-06-23T00:50:53Z,2024-06-23T00:49:57Z,news,0.000000,https://www.arabstoday.net/w-2737/002658-%D8%A...,الإعلام الجديد... جنود لم نرها,أتفق مع القول بأنَّ الرأي العام العالمي تغير ل...,"{'uri': 'arabstoday.net', 'dataType': 'news', ...",[],https://img.arabstoday.net//SusanShaer.jpg,NaN,NaN,1,1
85507,8190795913,ara,False,2024-06-23,00:44:04,2024-06-23T00:44:04Z,2024-06-23T00:42:22Z,news,0.905882,https://www.almamlakatv.com//news/145045,أجواء صيفية في معظم المناطق اليوم,منظر عام لمبانٍ في مدينة عمّان ويظهر معها علم ...,"{'uri': 'almamlakatv.com', 'dataType': 'news',...",[],https://www.almamlakatv.com//images/articles/b...,ara-1665868,NaN,1,1
85508,8190781913,ara,False,2024-06-23,00:18:10,2024-06-23T00:18:10Z,2024-06-23T00:17:13Z,news,0.000000,https://www.albawabhnews.com/5025005,فلسطين.. استشهاد طفلين بقصف إسرائيلي على مخيم ...,تابع أحدث الأخبار عبر تطبيق\n\nأفادت قناة القا...,"{'uri': 'albawabhnews.com', 'dataType': 'news'...","[{'uri': 'عبد_الله_جمال@albawabhnews.com', 'na...",https://www.albawabhnews.com/UploadCache/libfi...,NaN,NaN,1,1
85509,8190775962,ara,False,2024-06-23,00:08:37,2024-06-23T00:08:37Z,2024-06-23T00:06:34Z,news,0.000000,https://www.alaraby.co.uk/opinion/%D8%A7%D9%84...,السُّودان: دبلوماسية الصمت خيرٌ من الانفعال,ضاعفتِ المواجهات العسكرية، وقتل المدنيين بصورة...,"{'uri': 'alaraby.co.uk', 'dataType': 'news', '...",[],https://www.alaraby.co.uk/sites/default/files/...,NaN,NaN,1,1
85510,2024-06-398427765,ara,False,2024-06-23,00:03:05,2024-06-23T00:03:05Z,2024-06-23T00:02:57Z,news,0.000000,https://hathalyoum.net/articles/3370449,لجنة الرياضة النيابية تطالب اللجنة الاولمبية ب...,بغداد - واع\n\nطالبت لجنة الشباب والرياضة الني...,"{'uri': 'hathalyoum.net', 'dataType': 'news', ...","[{'uri': 'هذا_اليوم@hathalyoum.net', 'name': '...",https://www.ina.iq/uploads/posts/2024-06/uploa...,NaN,NaN,1,1

## 2. Exploring the Risk Factors

Next, let's look at the risk factors. These are in Excel files, so we'll use pandas again.

Risk Factors (risk-factors.xlsx)

In [7]:
# Load the risk factors
df_risk = pd.read_excel('../data/risk-factors.xlsx')

# Display the first 5 rows
print("\nRisk Factors:")
print(df_risk.head())

# Get some basic info
print("\nInfo:")
df_risk.info()

Risk Factors:
  risk_factor_english  risk_factor_arabic
0  massive starvation                 NaN
1          rinderpest                 NaN
2     scanty rainfall                 NaN
3         dysfunction                 NaN
4                rise                 NaN

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   risk_factor_english  167 non-null    object
 1   risk_factor_arabic   0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 2.7+ KB

In [8]:
df_risk

      risk_factor_english  risk_factor_arabic
0      massive starvation                 NaN
1              rinderpest                 NaN
2         scanty rainfall                 NaN
3             dysfunction                 NaN
4                    rise                 NaN
..                    ...                 ...
162             land grab                 NaN
163     brutal government                 NaN
164      bombing campaign                 NaN
165  transport bottleneck                 NaN
166      weather extremes                 NaN

[167 rows x 2 columns]

Risk Factor Categories (risk-factors-categories.xlsx)

In [9]:
# Load the risk factor categories
df_risk_cat = pd.read_excel('../data/risk-factors-categories.xlsx')

# Display the first 5 rows
print("\nRisk Factor Categories:")
print(df_risk_cat.head())

# Get some basic info
print("\nInfo:")
df_risk_cat.info()

Risk Factor Categories:
      risk_factor              cluster
0   land seizures  land-related issues
1  slashed export      economic issues
2      price rise      economic issues
3     mass hunger          food crisis
4         cyclone       weather shocks

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   risk_factor  167 non-null    object
 1   cluster      167 non-null    object
dtypes: object(2)
memory usage: 2.7+ KB

In [10]:
df_risk_cat

        risk_factor                 cluster
0     land seizures     land-related issues
1    slashed export         economic issues
2        price rise         economic issues
3       mass hunger             food crisis
4           cyclone          weather shocks
..              ...                     ...
162         convoys  conflicts and violence
163          carbon    environmental issues
164          mayhem  conflicts and violence
165      dehydrated             food crisis
166   mismanagement   political instability

[167 rows x 2 columns]

## 3. Inspecting the Geographic Data

Finally, let's load the geographic taxonomy files. These are saved as pickle files, which are used for serializing Python objects. We'll need the pickle library for this.

English and Arabic Location Names

In [11]:
import pickle

# Load the English location names
with open('../data/id_english_location_name.pkl', 'rb') as f:
    eng_locations = pickle.load(f)

# Load the Arabic location names
with open('../data/id_arabic_location_name.pkl', 'rb') as f:
    ara_locations = pickle.load(f)

# Display a few items from each dictionary to see the structure
print("\nEnglish Locations (Sample):")
print(list(eng_locations.items())[:5])

print("\nArabic Locations (Sample):")
print(list(ara_locations.items())[:5])

print(f"\nTotal English locations: {len(eng_locations)}")
print(f"Total Arabic locations: {len(ara_locations)}")

English Locations (Sample):
[('iq', ['iraq']), ('jo', ['jordan']), ('lb', ['lebanon']), ('ps', ['occupied palestinian territory', 'palestine', 'palestinian authority', 'palestinian territories']), ('sy', ['syria', 'syrian arab republic'])]

Arabic Locations (Sample):
[('iq', array(['العراق'], dtype=object)), ('jo', array(['الأردن'], dtype=object)), ('lb', array(['لبنان'], dtype=object)), ('ps', array(['السلطة الوطنية الفلسطينية', 'الضفة الغربية وقطاع غزة',
       'دولة فلسطين', 'فلسطين'], dtype=object)), ('sy', array(['سوريا'], dtype=object))]

Total English locations: 357
Total Arabic locations: 357

## 4. Checking the Date Range

In [12]:
# Convert the 'date' column to datetime objects for both dataframes
df_eng['date'] = pd.to_datetime(df_eng['date'])
df_ara['date'] = pd.to_datetime(df_ara['date'])

# Find the minimum and maximum dates for the English articles
eng_min_date = df_eng['date'].min()
eng_max_date = df_eng['date'].max()

# Find the minimum and maximum dates for the Arabic articles
ara_min_date = df_ara['date'].min()
ara_max_date = df_ara['date'].max()

print("English News Articles Date Range:")
print(f"From: {eng_min_date.date()} To: {eng_max_date.date()}")

print("\nArabic News Articles Date Range:")
print(f"From: {ara_min_date.date()} To: {ara_max_date.date()}")

English News Articles Date Range:
From: 2024-06-23 To: 2024-07-24

Arabic News Articles Date Range:
From: 2024-06-23 To: 2024-07-24